<form class="row g-3" method="post">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="Nhập từ khóa">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Nhập từ khóa</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Nhập từ khóa vào đây..." name="q">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Tìm kiếm</button>
  </div>
  <br>
  <div class="row">
    <div class="col-auto">
      <label for="gender">Nhập giới tính</label>
    </div>
    <div class="col-auto">
      <select name="gender" id="">
      <option value="">-Chọn giới tính-</option>
      <option value="male">Nam</option>
      <option value="female">Nữ</option>
    </select>
    </div>
  </div>

  
  
</form>